version: 2

updates:
- package-ecosystem: gradle
  directory: "/"
  registries:
  - github-packages
  schedule:
    interval: weekly
  open-pull-requests-limit: 20

registries:
  github-packages:
    type: maven-repository
    url: https://maven.pkg.github.com/veupathdb/maven-packages
    username: ${{ secrets.PACKAGES_USER }}
    password: ${{ secrets.PACKAGES_KEY }}