<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%level{length=1} %c{1} %notEmpty{[%markerSimpleName] }- %m%n}{
        TRACE=white,
        DEBUG=green,
        INFO=bright_green,
        WARN=bright_yellow,
        ERROR=bright_red,
        FATAL=red
      }"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.zaxxer" level="info" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>
    <Root level="trace">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>